<nav class="justify-center lg:justify-end flex flex-row space-x-16 items-center mt-8 lg-mt-0">
    <ul class="flex flex-row space-x-8 text-lg">
        <li><a class="font-bold text-{{ textColour }}" href="/#episodes">Episodes</a></li>
    </ul>
    <ul class="hidden lg:flex flex-row space-x-4 text-xl items-center">
{#        <li><i class="fab fa-facebook-f text-{{ textColour }}"></i></li>#}
{#        <li><i class="fab fa-instagram text-{{ textColour }}"></i></li>#}
{#        <li><i class="fab fa-linkedin-in text-{{ textColour }}"></i></li>#}
{#        <li><i class="far fa-envelope text-{{ textColour }}"></i></li>#}
    </ul>
</nav>