<nav class="justify-end flex flex-row space-x-16 items-center">
    <ul class="flex flex-row space-x-8 text-lg">
        <li><a class="font-bold text-{{ textColour }}" href="#">Podcast</a></li>
        <li><a class="font-bold text-{{ textColour }}" href="#">Episodes</a></li>
        <li><a class="font-bold text-{{ textColour }}" href="#">About</a></li>
    </ul>
    <ul class="flex flex-row space-x-4 text-xl items-center">
        <li><i class="fab fa-facebook-f text-{{ textColour }}"></i></li>
        <li><i class="fab fa-instagram text-{{ textColour }}"></i></li>
        <li><i class="fab fa-linkedin-in text-{{ textColour }}"></i></li>
        <li><i class="far fa-envelope text-{{ textColour }}"></i></li>
    </ul>
</nav>