{% include 'partials/header.twig' %}
<body class="antialiased bg-black overflow-x-hidden font-body">

    <div class="container mx-auto relative">
    </div>

    <header class="relative hidden lg:block">
        <div class="container mx-auto py-16">
            <div class="flex justify-between flex-row items-center">
                <a href="/" class="justify-start">
                    <img src="/assets/img/logo.svg" alt="Brand Jam">
                </a>
                {% include 'partials/navigation.twig' with { textColour: 'red' } %}
            </div>

        </div>
    </header>
    <header class="block lg:hidden">
        <div class="container mx-auto py-8">
            <a href="/" class="mx-auto w-full text-center">
                <img src="/assets/img/logo.svg" class="mx-auto" alt="Brand Jam">
            </a>
            {% include 'partials/navigation.twig' with { textColour: 'red' } %}
        </div>
    </header>

    <img class="absolute animate-pulse right-0" style="z-index: -1;" src="/assets/img/brandjam-bg.svg" alt="Brand Jam Watermark">

    <div class="container mx-auto px-8 lg:px-0 text-red relative">
        <div class="invisible lg:visible absolute h-screen flex flex-col items-center" style="top: 50%;left: -45px;">
            <p class="text-teal uppercase transform rotate-90">Subscribe</p>
            <i class="far fa-podcast text-teal text-3xl mt-16"></i>
            <i class="fab fa-spotify text-teal text-3xl mt-4"></i>
            <i class="fab fa-google text-teal text-3xl mt-4"></i>
            <i class="fab fa-soundcloud text-teal text-3xl mt-4"></i>
        </div>

        <div class="flex flex-col lg:flex-row">
            <div class="w-full lg:w-1/3"></div>
            <div class="w-full lg:w-2/3">
                <h1 class="text-4xl lg:text-7xl font-bold leading-none mb-8">
                    {{ entry.heading }}
                </h1>
                <h2 class="text-2xl lg:text-5xl font-light leading-none mb-8">
                    {{ entry.subheading }}
                </h2>
                {{ entry.description | markdown }}
            </div>
        </div>
    </div>

    <div class="container mx-auto flex flex-row mb-0 lg:mb-64" id="episodes">
        <div class="w-1/6 hidden lg:block"></div>
        <div class="w-full lg:w-5/6 mt-8 lg:mt-32 justify-end">

            <p class="font-bold text-red text-xl uppercase mb-8 ml-8 lg:ml-0">Series 1</p>

            {% set entries = craft.entries().section('episodes').orderBy('postDate asc').all() %}
            {% for episode in entries %}
                <div class="{% if loop.first %}bg-red{% endif %} episode border-red border-b">
                    <div class="p-8 flex items-center cursor-pointer">
                        <h2 class="text-red text-4xl lg:text-8xl font-extrabold leading-none w-1/6">
                            {{ "%02d"|format(loop.index) }}
                        </h2>
                        <div>
                            <h2 class="text-red text-2xl lg:text-5xl font-extrabold leading-none">
                                {{ episode.title }}
                            </h2>
                            <p class="text-xl text-red">
                                {{ episode.episodeSubheading }}
                            </p>
                        </div>
                    </div>
                    <div class="flex flex-col lg:flex-row items-center episodeInfo {% if not loop.first %}hidden{% endif %}">
                        <div class="w-full px-8 lg:px-0 lg:w-1/2">
                            {% set image = episode.episodeImage.one() %}
                            {% if image | length %}
                                <a href="{{ episode.url }}">
                                    <img class="hexMask ml-0 mb-8 lg:mb-0 lg:ml-8" src="{{ image.url }}" alt="{{ image.title }}">
                                </a>
                            {% endif %}
                        </div>
                        <div class="p-8 w-full lg:w-1/2 lg:pl-16 lg:pr-8 lg:pb-8">
                            <p class="mb-8">
                                {{ episode.episodeDescription|markdown|chop(limit=30, unit='w') }}...
                            </p>
                            <a href="{{ episode.url }}" class="flex flex-row items-center">
                                <i class="far fa-play-circle mr-4 text-3xl"></i>
                                <p><strong>LISTEN TO EPISODE</strong></p>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}


        </div>
    </div>

    <section class="hidden lg:block bg-teal pt-32 pb-40 tealCallout relative">
        <div class="container mx-auto">
            <div class="flex flex-row items-center space-x-8 justify-center">
                <h3 class="text-3xl text-black font-bold">SUBSCRIBE</h3>
                <i class="far fa-podcast text-6xl"></i>
                <i class="fab fa-spotify text-6xl"></i>
                <i class="fab fa-google text-6xl"></i>
                <i class="fab fa-soundcloud text-6xl"></i>
            </div>
        </div>
    </section>
    <section class="block lg:hidden bg-teal py-8 relative">
        <div class="container mx-auto">
            <h3 class="text-3xl text-black font-bold text-center mb-4">SUBSCRIBE</h3>
            <div class="flex flex-row lg:flex-row items-center space-x-8 justify-center">
                <i class="far fa-podcast text-3xl"></i>
                <i class="fab fa-spotify text-3xl"></i>
                <i class="fab fa-google text-3xl"></i>
                <i class="fab fa-soundcloud text-3xl"></i>
            </div>
        </div>
    </section>

{#    <div id="scott"></div>#}
{#    <section class="hidden lg:flex -mt-32 flex flex-row relative splitScreen">#}
{#        <div class="w-1/2 relative" style="z-index: -1;height: 700px;">#}
{#            {% set profilePic = entry.scottsProfilePic.one() %}#}
{#            <img class="absolute object-cover h-full w-full" src="{{ profilePic.url }}" alt="{{ profilePic.title }}">#}
{#        </div>#}
{#        <div class="w-1/2 bg-red" style="z-index: -1;"></div>#}
{#        <div class="absolute container flex flex-row items-center offset" style="top:100px;left:0;">#}
{#            <div class="w-1/2"></div>#}
{#            <div class="w-1/2 pl-32 pt-32 richText text-black" style="">#}
{#                {% set logo = entry.scottsLogo.one() %}#}
{#                <img src="{{ logo.url }}" class="mb-8" alt="{{ logo.title }}">#}
{#                <div class="text-black text-xl">#}
{#                    {{ entry.scottsBio | markdown }}#}
{#                </div>#}
{#                <a href="#contact" class="text-black text-xl mb-0 flex flex-row items-center">#}
{#                    <i class="far fa-envelope mr-4"></i> <strong>ASK A QUESTION</strong>#}
{#                </a>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}
{#    <section class="block lg:hidden">#}
{#        <div class="w-full relative" style="padding-bottom: 80%;">#}
{#            <img class="absolute object-cover h-full w-full" src="/assets/img/scott.jpg" alt="Scott Oxford">#}
{#        </div>#}
{#        <div class="w-full p-8 bg-red">#}
{#            <img class="absolute object-cover h-full w-full" src="{{ profilePic.url }}" alt="{{ profilePic.title }}">#}
{#            <div class="text-black text-xl">#}
{#                {{ entry.scottsBio | markdown }}#}
{#            </div>#}
{#            <a href="#contact" class="text-black text-xl mb-0 flex flex-row items-center">#}
{#                <i class="far fa-envelope mr-4"></i> <strong>ASK A QUESTION</strong>#}
{#            </a>#}
{#        </div>#}
{#    </section>#}

    <section class="py-8 lg:py-32 relative text-red" id="contact">
        <img class="hidden lg:block absolute right-0 top-0 h-full pt-32" src="/assets/img/brandjam-bg-red.svg" alt="Brand Jam Watermark">
        <div class="container mx-auto px-8 lg:px-0">
            <div class="w-full lg:w-1/2">
                <h3 class="font-extrabold text-6xl text-red">Contact</h3>
                <div class="text-xl">
                    {{ entry.contactText | markdown }}
                </div>
                <form action="#" class="flex flex-col space-y-8 mt-8">
                    <input class="placeholder-red focus:placeholder-black focus:outline-none bg-black border-b-2 border-red py-4 text-red" type="text" name="fullName" placeholder="Name">
                    <input class="placeholder-red focus:placeholder-black focus:outline-none bg-black border-b-2 border-red py-4 text-red" type="email" name="email" placeholder="Email">
                    <textarea class="placeholder-red focus:placeholder-black focus:outline-none bg-black border-b-2 border-red py-4 text-red" name="message" cols="30" rows="1" placeholder="Message"></textarea>
                    <button type="submit" class="transition duration-500 ease-in-out bg-red p-4 text-black font-bold uppercase block focus:outline-none w-full lg:w-1/4 hover:bg-redHover">Submit</button>
                </form>
            </div>
        </div>
    </section>

    <script>
        //alignSpitScreen();

        function alignSpitScreen() {
            let windowWidth = window.innerWidth;
            let containerWidth = document.querySelector('.container').offsetWidth;
            let offset = document.querySelector('.offset');
            let splitScreenHeight = document.querySelector('.splitScreen').offsetHeight;

            offset.setAttribute('style', `
                left: ${(windowWidth - containerWidth) / 2}px;
                height: ${splitScreenHeight}px;
            `);
        }

        window.addEventListener('resize', alignSpitScreen);

        let episodes = document.querySelectorAll('.episode'), i;

        for(i = 0; i < episodes.length; i++) {
            episodes[i].addEventListener('click', function (e) {

                episodes.forEach(function(episode){
                    episode.classList.remove('bg-red');
                    episode.classList.add('border-b');
                    if(episode.querySelector('.episodeInfo')) {
                        episode.querySelector('.episodeInfo').classList.add('hidden');
                    }
                });

                e.currentTarget.classList.add('bg-red');
                e.currentTarget.classList.remove('border-b');
                e.currentTarget.querySelector('.episodeInfo').classList.remove('hidden');

            });
        }
    </script>

    {% include 'partials/footer.twig' %}