{% include 'partials/header.twig' %}
<body class="antialiased bg-black overflow-x-hidden font-body">

    <div class="container mx-auto relative">
    </div>

    <header class="relative">
        <div class="container mx-auto py-16">
            <div class="flex justify-between flex-row items-center">
                <a href="/" class="justify-start">
                    <img src="/assets/img/logo.svg" alt="Brand Jam">
                </a>
                {% include 'partials/navigation.twig' with { textColour: 'red' } %}
            </div>

        </div>
    </header>

    <img class="absolute animate-pulse right-0" style="z-index: -1;" src="/assets/img/brandjam-bg.svg" alt="Brand Jam Watermark">

    <div class="container mx-auto px-8 lg:px-0 text-red relative">
        <div class="absolute h-screen flex flex-col items-center" style="top: 50%;left: -45px;">
            <p class="text-teal uppercase transform rotate-90">Subscribe</p>
            <i class="far fa-podcast text-teal text-3xl mt-16"></i>
            <i class="fab fa-spotify text-teal text-3xl mt-4"></i>
            <i class="fab fa-google text-teal text-3xl mt-4"></i>
            <i class="fab fa-soundcloud text-teal text-3xl mt-4"></i>
        </div>

        <div class="flex flex-col lg:flex-row">
            <div class="w-full lg:w-1/3"></div>
            <div class="w-full lg:w-2/3">
                <h1 class="text-5xl lg:text-7xl font-bold leading-none mb-8">
                    How do brands build trust and connection,
                    be authentic and memorable?
                </h1>
                <h2 class="text-3xl lg:text-5xl font-light leading-none mb-8">
                    And what are the great mistakes people make
                    and the big misconceptions about brand?
                </h2>
                <p class="text-xl">
                    We explore the strategic and accidental ways brands
                    build meaning for people, how they find a place in
                    our hearts and why leaders must use brand to
                    transform their businesses and organisations,
                    inside and out.
                </p>
            </div>
        </div>
    </div>

    <div class="container mx-auto flex flex-row mb-64">
        <div class="w-1/6"></div>
        <div class="w-5/6 mt-32 justify-end">

            <p class="font-bold text-xl uppercase mb-8">Series 1</p>

            {% set entries = craft.entries().section('episodes').all() %}
            {% for episode in entries %}
            <div class="{% if loop.first %}bg-red{% endif %} episode border-red border-b">
                <div class="p-8 flex items-center cursor-pointer">
                    <h2 class="text-8xl font-extrabold leading-none w-1/6">
                        {{ "%02d"|format(loop.index) }}
                    </h2>
                    <div>
                        <h2 class="text-5xl font-extrabold leading-none">
                            {{ episode.title }}
                        </h2>
                        <p class="text-xl">
                            {{ episode.episodeSubheading }}
                        </p>
                    </div>
                </div>
                <div class="flex flex-row items-center episodeInfo {% if not loop.first %}hidden{% endif %}">
                    <div class="w-1/2">
                        {% set image = episode.episodeImage.one() %}
                        <img class="hexMask ml-8" src="{{ image.url }}" alt="{{ image.title }}">
                    </div>
                    <div class="pl-16 pr-8 pb-8 w-1/2">
                        <p class="mb-8">
                            {{ episode.episodeDescription|markdown|chop(limit=30, unit='w') }}...
                        </p>
                        <a href="{{ episode.url }}" class="flex flex-row items-center">
                            <i class="far fa-play-circle mr-4 text-3xl"></i>
                            <p><strong>LISTEN TO EPISODE</strong></p>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}


        </div>
    </div>

    <section class="bg-teal pt-32 pb-40 tealCallout relative">
        <div class="container mx-auto">
            <div class="flex flex-row items-center space-x-8 justify-center">
                <h3 class="text-3xl text-black font-bold">SUBSCRIBE</h3>
                <i class="far fa-podcast text-6xl"></i>
                <i class="fab fa-spotify text-6xl"></i>
                <i class="fab fa-google text-6xl"></i>
                <i class="fab fa-soundcloud text-6xl"></i>
            </div>
        </div>
    </section>

    <section class="-mt-32 flex flex-row relative splitScreen">
        <div class="w-1/2 relative" style="z-index: -1;height: 700px;">
            <img class="absolute object-cover h-full w-full" src="/assets/img/scott.jpg" alt="Scott Oxford">
        </div>
        <div class="w-1/2 bg-red" style="z-index: -1;"></div>

        <div class="absolute container flex flex-row items-center offset" style="top:100px;left:0;">
            <div class="w-1/2"></div>
            <div class="w-1/2 pl-32 pt-32 richText text-black" style="">
                <img src="/assets/img/scott-logo.svg" class="mb-8" alt="Scott Oxford">
                <p class="text-black text-xl">
                    Commodo elit at imperdiet dui accumsan sit. Turpis egestas
                    maecenas pharetra convallis posuere morbi. Bibendum enim
                    facilisis gravida neque convallis a cras semper.
                </p>
                <p class="text-black text-xl">
                    Commodo elit at imperdiet dui accumsan sit. Turpis egestas
                    maecenas pharetra convallis posuere morbi. Bibendum enim
                    facilisis gravida neque convallis a cras semper.
                </p>
                <p class="text-black text-xl mb-0 flex flex-row items-center">
                    <i class="far fa-envelope mr-4"></i> <strong>ASK A QUESTION</strong>
                </p>
            </div>
        </div>
    </section>

    <section class="py-32 relative text-red">
        <img class="absolute right-0 top-0 h-full pt-32" src="/assets/img/brandjam-bg-red.svg" alt="Brand Jam Watermark">
        <div class="container mx-auto">
            <div class="w-1/2">
                <h3 class="font-extrabold text-6xl text-red">Contact</h3>
                <p class="text-xl">
                    Connect me with a potential guest
                    Ask a question for the podcast
                    Give feedback
                    Just send a message to lonely old me
                </p>
                <form action="#" class="flex flex-col space-y-8 mt-8">
                    <input class="placeholder-red focus:placeholder-black focus:outline-none bg-black border-b-2 border-red py-4 text-red" type="text" name="fullName" placeholder="Name">
                    <input class="placeholder-red focus:placeholder-black focus:outline-none bg-black border-b-2 border-red py-4 text-red" type="email" name="email" placeholder="Email">
                    <textarea class="placeholder-red focus:placeholder-black focus:outline-none bg-black border-b-2 border-red py-4 text-red" name="message" cols="30" rows="1" placeholder="Message"></textarea>
                    <button type="submit" class="transition duration-500 ease-in-out bg-red p-4 text-black font-bold uppercase block focus:outline-none w-1/4 hover:bg-redHover">Submit</button>
                </form>
            </div>
        </div>
    </section>

    <script>
        alignSpitScreen();

        function alignSpitScreen() {
            let windowWidth = window.innerWidth;
            let containerWidth = document.querySelector('.container').offsetWidth;
            let offset = document.querySelector('.offset');
            let splitScreenHeight = document.querySelector('.splitScreen').offsetHeight;

            offset.setAttribute('style', `
                left: ${(windowWidth - containerWidth) / 2}px;
                height: ${splitScreenHeight}px;
            `);
        }

        window.addEventListener('resize', alignSpitScreen);

        let episodes = document.querySelectorAll('.episode'), i;

        for(i = 0; i < episodes.length; i++) {
            episodes[i].addEventListener('click', function (e) {

                episodes.forEach(function(episode){
                    episode.classList.remove('bg-red');
                    episode.classList.add('border-b');
                    if(episode.querySelector('.episodeInfo')) {
                        episode.querySelector('.episodeInfo').classList.add('hidden');
                    }
                });

                e.currentTarget.classList.add('bg-red');
                e.currentTarget.classList.remove('border-b');
                e.currentTarget.querySelector('.episodeInfo').classList.remove('hidden');

            });
        }
    </script>

    {% include 'partials/footer.twig' %}